p {
  text-align: center;
}

.card__body {
  border: solid 1px white;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(19, 46, 97);
  margin: 10px;
  height: 200px;
  width: 600px;
}

.card__question {
  color: white;
  text-decoration: underline;
}

.card__answer {
  color: white;
}
