ul {
  padding: 5px;
  text-align: center;
  list-style-type: none;
  font-size: 1rem;
  cursor: pointer;
  margin: 15px;
}

.nav {
  color: white;
  background-color: #271235;
  border: 1px solid white;
  border-radius: 10px;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  position: fixed;
  bottom: 0;
  width: 90vw;
}
