li {
  text-align: center;
  list-style-type: none;
  font-size: larger;
}

.nav {
  color: white;
  background-color: rgb(223, 130, 130);
  padding: 30px;
  border: 1px solid gray;
  border-radius: 10px;
  display: grid;
  grid-auto-flow: column;
}
