ul {
  padding: 0;
}

li {
  text-align: center;
  list-style-type: none;
  font-size: larger;
  cursor: pointer;
  margin: 15px;
}

.nav {
  color: white;
  background-color: #601790;
  padding: 30px;
  border: 1px solid white;
  border-radius: 10px;
  display: grid;
  grid-auto-flow: column;
  margin: 15px;
}
