.home {
    color: white;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(30, 12, 45);
    height: 100vh;
    width: 100vw;
}
.App__card-grid {
    display: grid;
    gap: 30px;
    padding: 20px;
    align-items: center;
  }
//TODO: bottom white border?!